<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../assets/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>foodIN</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="../assets/css/linearicons.css">
	<script src="https://kit.fontawesome.com/849a6c8f3b.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/owl.carousel.css">
	<link rel="stylesheet" href="../assets/css/nice-select.css">
	<link rel="stylesheet" href="../assets/css/nouislider.min.css">
	<link rel="stylesheet" href="../assets/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="../assets/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="../assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><h2><b>FOODIN</b></h2></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a href="/login" class="cart"><i class="fas fa-envelope"></i>&nbsp;foodin@gmail.com</a></li>
							<li class="nav-item"><a href="/login" class="cart"><i class="fas fa-phone"></i>&nbsp;foodin@gmail.com</a></li>
							<li class="nav-item"><a href="/login" class="cart"><i class="fa-solid fa-location-dot"></i>&nbsp;access location</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							
							<li class="nav-item"><a href="/login" class="cart"><i class="fas fa-user"></i></a></li>
							<li class="nav-item"><a href="#" class="cart"><i class="fas fa-shopping-bag"></i></a></li>
							<li class="nav-item">
								<button class="search"><i class="fas fa-search" id="search"></i></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

