
<!-- include header -->
<%- include('./includes/header') %>


  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <div
	class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
	<div class="d-flex align-items-center justify-content-center w-100">
	  <div class="row justify-content-center w-100">
		<div class="col-md-8 col-lg-6 col-xxl-3">
		  <div class="card mb-0">
			<div class="alert d-none" role="alert" id="alertResult">
				<%= locals.msg %>
			</div>
			<div class="card-body">
			  <h1 class="text-center">Forgot Password</h1>
			  <form method="post" id="forgotPasswordForm">
				<div class="mb-3">
					<label for="forgotemail" id="forgotemailLabel" class="form-label">Email</label>
					<input type="email" class="form-control" id="forgotEmail" name="forgotEmail" placeholder="Email" required>				
				</div>
				<button class="btn btn-warning w-100 py-8 fs-4 mb-4 rounded-2" id="forgotBtn">Send</button>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script>
	document.getElementById('forgotPasswordForm').addEventListener('submit', async (event) => {
		event.preventDefault();
        const btn = document.getElementById("forgotBtn")
		btn.innerHTML = "processing.."
		const formData = new FormData(event.target);
		const forgotEmail = formData.get('forgotEmail');
		try {
			const response = await fetch('/forgot-password', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ forgotEmail })
			});
			
			const data = await response.json();
			console.log(JSON.stringify(data)); 
			const alertDiv = document.getElementById('alertResult');
			
			if (data.status === 'success') { 
				alertDiv.classList.remove('alert-danger');
				alertDiv.classList.add('alert-success');
				alertDiv.classList.remove('d-none');
				alertDiv.innerText = data.msg;
				btn.disabled = true
				btn.innerHTML = "send"
				
			} else {
				alertDiv.classList.remove('alert-success');
				alertDiv.classList.add('alert-danger');
				alertDiv.classList.remove('d-none');
				alertDiv.innerText = data.msg;
			}
		}catch (error) {
			const alertDiv = document.getElementById('alertResult')
			alertDiv.classList.add("alert-danger")
			alertDiv.classList.remove("d-none")
			alertDiv.innerText = 'An error occurred. Please try again later.';
		}
	});

</script>
<!-- include footer -->
<%- include('./includes/footer') %>
