<!-- include header -->
<%- include('./includes/header') %>


  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <div
	class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
	<div class="d-flex align-items-center justify-content-center w-100">
	  <div class="row justify-content-center w-100">
		<div class="col-md-8 col-lg-6 col-xxl-3">
		  <div class="card mb-0">
			<div class="card-body">
			  <h1 class="text-center">login</h1>
			  <form class="login_form" action="/loginAuthenticate" method="post" id="contactForm" novalidate="novalidate">
				<div class="mb-3">
				  <label for="loginEmail" class="form-label">Email Id</label>
				  <input type="email" class="form-control" id="name" name="loginEmail" placeholder="Email Id" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Id'">				
				</div>
				<div class="mb-4">
				  <label for="loginPassword" class="form-label">Password</label>
				  <input type="password" class="form-control" id="name" name="loginPassword" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">				
				</div>
				<button class="btn btn-warning w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
				<div class="d-flex align-items-center justify-content-center">
					<a class="text-primary fw-bold" href="./forgotPassword">Forgot Password ?</a>
					<a class="text-primary fw-bold ms-2" href="/signup">Create an account</a>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<script src="assets/js/"></script>
<!-- include footer -->
<%- include('./includes/footer') %>
